
:root {
  --sidebar-bg-light: #f7f9fa;
  --sidebar-bg-dark: #000000;
  --items-bg-light: #F7F9F9;
  --items-bg-dark: #16181C;
  --text-light: #121212;
  --text-dark: #f7f9fa;
  --icon-color-light: #000000; 
  --icon-color-dark: #ffffff; 
  --icon-color-light: #000000; 
  --icon-color-dark: #ffffff; 
  --border-color-dark:#2F3336;
  --border-color-light:#F7F9F9;
}

  .Sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--sidebar-bg-light);
    padding: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--text-light);
    border-right: 1px solid var(--border-color-light);
  }
  
  .Navbar {
    flex: 1;
  }

  #ListItem {
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
  }
  
  .PostButton button,
  #Button {
    background-color: #1da1f2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;
    width: 100%;
    margin-top: 16px; 
  }
  
  .PostButton button:hover,
  #Button:hover {
    background-color: #1990d8;
  }
  
  .UserAccount {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 2vh;
    padding: 16px 0;
  }
  
  .UserAccount img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
  }
  
  .UserInfo {
    display: flex;
    flex-direction: column;
  }
  
  .UserName {
    font-weight: bold;
  }
  
  .UserHandle {
    color: #657786;
  }
  
  @media (max-width: 1280px) {
    .UserAccount > .UserInfo {
      display: none;
    }
  }
  
  @media (prefers-color-scheme: light) {
    .Sidebar {
      background-color: var(--sidebar-bg-light);
      color: var(--text-light);
      border-right: 1px solid var(--border-color-light);
      
    }
  
    .css-i4bv87-MuiSvgIcon-root {
      color: var(--icon-color-light);
    }
  }
  
  @media (prefers-color-scheme: dark) {
    .Sidebar {
      background-color: var(--sidebar-bg-dark);
      color: var(--text-dark);
      border-right: 1px solid var(--border-color-dark);
    }
  
    .css-i4bv87-MuiSvgIcon-root {
      color: var(--icon-color-dark);
    }
  }
  