
:root {
    --widget-bg-light: #f7f9fa;
    --widget-bg-dark: #000000;
    --items-bg-light: #F7F9F9;
    --items-bg-dark: #16181C;
    --text-light: #121212;
    --text-dark: #f7f9fa;
    --icon-color-light: #000000; 
    --icon-color-dark: #ffffff; 
    --icon-color-light: #000000; 
    --icon-color-dark: #ffffff; 
    --border-color-dark:#2F3336;
    --border-color-light:#F7F9F9;
  }

.Widget{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--widget-bg-dark);
    padding: 16px;
    border-left: 1px solid var(--widget-bg-light);
}