/* App.css */

body, html {
    height: 100%;
    margin: 0;
  }
  
  .app {
    display: flex;
  }
  
  /* Sidebar */
  .sidebar {
    width: 25dvw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: hidden;
  }
  
  /* Feed */
  .feed {
    padding-left: 25vw;
    padding-right: 27vw;
    width: 50vw;
    overflow-y: hidden;
    overflow-x: hidden;
  }
  
  /* Widget */
  .widget {
    width: 25dvw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    overflow-y: hidden;
  }
  